.headerNav {
  position: relative;
  z-index: 9999;
  background-color: #68bb69;
  position: fixed;
  top: 0;
  width: 100%;
}

.headerNav span {
  font-size: 12px;
}

.item-header-2 {
  padding: 8px 26px;
  background-color: #68bb69;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 6px -1px;
}
.item-header-2 .img-sato {
  width: 147px;
}
.item-header-2 .text-kategory {
  padding: 2px 5px;
}

.item-header-2 .text-kategory:hover {
  background-color: #f3f4f5 !important;
  cursor: pointer !important;
  color: #03ac03;
  border-radius: 5px;
}

.item-header-2 span {
  color: #f3f4f5;
}

.line {
  font-size: 26px !important;
  color: #cdcdcd;
  margin-bottom: 8px;
  font-weight: 100;
}

.container-slider {
  background-color: #cfcfcf;
  margin-top: 11rem;
  width: 100%;
  height: 460px;
  align-items: center;
  padding: 20px;
}
.carousel img {
  margin: auto;
  width: 100%;
  height: 420px;
}

.ui.search > .ui.input.icon {
  width: 500px;
}
.btn-auth {
  border: 1px solid whitesmoke;
  padding: 15px;
  border-radius: 15%;
  background-color: #68bb69;
  width: 6rem;
  color: white !important;
  width: fit-content;
}
.btn-auth:hover {
  background-color: whitesmoke;
  color: #68bb69 !important;
}
.button {
  background-color: #68bb69 !important;
  color: white !important;
}
.sato-care {
  width: 350px;
  height: 270px;
}

.container-sato {
  text-align: center;
}
.card-item button {
  color: white;
  background-color: #68bb69;
  padding: 12px;
  border-radius: 10%;
  border: none;
}

.card-item button:hover {
  color: black;
}
.container-kategori {
  background-color: #aae1a2;
}
.container-kategori > div {
  margin: 30px;
  text-align: center;
  background-color: #d4f0d0;
  border-radius: 15%;
  font-size: 16px;
  font-weight: bold;
  color: black;
  padding: 12px;
}
.kategori .card-item img:hover {
  transform: rotateY(180deg);
}
.container-kategori > div:hover {
  box-shadow: 5px 5px 5px 5px whitesmoke;
}
.kategori img {
  width: 160px;
}
.content-product .header {
  text-align: center;
  margin-bottom: 5px;
  font-weight: 900;
  font-size: 17px;
}
.price {
  color: red;
  font-size: 15px;
  font-weight: 650;
}
.data {
  display: flex;
  margin: 12px;
}
.soldout {
  color: gray;
  font-size: 10px;
  margin-left: 40px;
  font-weight: 400;
}

.content-product {
  margin-top: 20px;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}
.content-product > div {
  margin: 14px !important;
  width: 190px !important;
}
.container-form {
  background-color: white;
  width: 20%;
  padding: 20px;
}
.container-body {
  margin-top: 11rem;
  padding: 50px;
}
.container-body img {
  width: 760px;
}
.container-form button {
  width: 100%;
}
